<div class="card-container">
  <section class="info-section">
    <h1 class="">¡Bienvenido {{ user?.username }} {{ user?.lastName }}!</h1>

    <div class="info-div">
      <p><b>Usuario:</b> {{ user?.username }}</p>
    </div>

    <div class="info-div">
      <p><b>Nombre:</b> {{ user?.firstName }} {{ user?.lastName }}</p>
    </div>

    <div class="info-div">
      <p><b>Email:</b> {{ user?.email }}</p>
    </div>

    <div class="info-div">
      <p><b>Genero:</b> {{ user?.gender }}</p>
    </div>
    <div class="info-div">
      <button (click)="logout()" class="">Logout</button>
    </div>
  </section>
  <section class="image-section">
    <div *ngIf="user">
      <img
        [attr.src]="user.image"
        alt="Imagen de {{ user.username }}"
        class="user-image"
      />
    </div>
  </section>
</div>
