<div class="card-container">
  <section class="info-section">
    <h1 class="">¡Bienvenido Ramon Hernandez!</h1>

    <div class="info-div">
      <p><b>Usuario:</b> ramonH23</p>
    </div>

    <div class="info-div">
      <p><b>Nombre:</b> Ramon Hernandez</p>
    </div>

    <div class="info-div">
      <p><b>Email:</b> ramon&#64;example.cl</p>
    </div>

    <div class="info-div">
      <p><b>Genero:</b> Masculino</p>
    </div>
    <div class="info-div">
      <button (click)="logout()" class="">Logout</button>
    </div>
  </section>
  <section class="image-section">
    <div class="">
      <img
        src="https://png.pngtree.com/png-clipart/20231019/original/pngtree-user-profile-avatar-png-image_13369988.png"
        alt=""
        class=""
      />
    </div>
  </section>
</div>
