<div class="login-card">
  <h1>Ingresa sesión</h1>
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input
      [(ngModel)]="username"
      type="text"
      class="form-control"
      id="username"
      placeholder="ramonH23"
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      [(ngModel)]="password"
      type="password"
      class="form-control"
      id="password"
      placeholder="*******"
    />
  </div>

  <button (click)="login()" type="submit" class="btn btn-primary">
    Ingresar
  </button>
</div>
